<fieldset>
    <legend>New Acount</legend>
    <form [formGroup]="signUpForm" (submit)="create()">
        <p>
            <input type="text" 
            placeholder="username" 
            formControlName="username">
        </p>
        <p>
            <input type="password" 
            placeholder="password" 
            formControlName="password"
            >
        </p>
        <p>
            <input type="password" 
            placeholder="confirm password" 
            formControlName="confirmPassword"
            >
        </p>
        <p>
            <input type="checkbox" id="agreement"
            formControlName="agree"
            >
            <label for="agreement">I agree to all</label>
        </p>
        <p>
            <input type="submit" value="sign in">
        </p>
    </form>
</fieldset>